<html>
  <head>
    <title>Nginx Installed with Heat and Ansible!</title>
  </head>
  <body>
    <h1>Congratulations!</h1>
    <p>The template worked and your site ({{ '{{' }} domain {{ '}}'  }}) is up. Huzzah!</p>
  </body>
</html>
